.ft-table-cell {
    min-width: 0;
    padding: 0;
    height: 71px;
}

.ft-media-cell-icon,
.ft-media-cell-filename {
    display: inline-block;
}

.ft-media-cell-icon {
    font-size: 2.8em;
    top: 8px;
    position: relative;
}

.ft-color-folder {
    color: #92ceff;
}

.ft-color-file {
    color: #d7d9da;
}

.ft-media-cell-filename {
    margin-left: 10px;
    font-size: 1.1em;
    color: black;
}

.ft-media-cell-filename a {
    color: black;
}

.ft-media-cell-filename a:hover {
    text-decoration: none;
    color: rgb(51, 122, 183);
}

.ft-files-submenu {
    padding: 0 40px;
}

.ft-files-submenu li {
    list-style-type: none;
    height: 32px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.fa-files-submenu-item {
    display: inline-block;
}

.fa-files-submenu-item-name {
    margin-left: 5px;
}

/**
 * http://jsfiddle.net/MrPolywhirl/25bfvxgo/
 */
.fa-stack-1_2x {
    font-size: 1.2em;
    line-height: 1.25em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-1_4x {
    font-size: 1.4em;
    line-height: 1.25em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack-0_9x {
    font-size: 0.9em;
    line-height: 1.25em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-files-submenu-item-icon-plus-stacked {
    margin-top: -.1em;
    margin-left: .55em;
}


/**
 * vertical-align with Bootstrap 3
 * https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3/25517025#25517025
 */
.vertical-align {
    display: flex;
    align-items: center;
}

.full-height {
    height: 100%;
}
